# Linear Regression Example

In this tutorial, we'll walk through how to use our automatic differentiation engine to perform multivariate linear regression on a real estate dataset. 

The data can be found [here](https://www.kaggle.com/quantbruce/real-estate-price-prediction).

Our goal here is not to create the best model to fit our data, but to simply show how to use our automatic differentiation engine to create, train, and test a linear regression model. Thus, our model will be very simplistic for pedagogical purposes.

# Data Preprocessing

We'll first take look at our data, validate it, and preprocess it to be in a form appropriate to use with our automatic differentiation engine.

Feel free to skip this section as it doesn't directly relate to how to use our automatic differentiation engine.

Let's first import some necessary libraries.

In [1]:
from autograd import Variable
import autograd
from tqdm import tqdm
import pandas as pd
import numpy as np
import random

Let's load the data.

In [2]:
csv_path = './data/real_estate.csv'
df = pd.read_csv(csv_path)
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

Let's verify that there are no null values we need to worry about.

In [3]:
assert df.isnull().sum().sum() == 0

Our model will be very simple. We'll create a linear regression model that takes in a value from each column and will return the predicted price.

Our automatic differentiation engine expects numpy arrays. 

Let's convert the data into two numpy arrays, one for the inputs and one for the outputs.

In [4]:
input_df = df[['X1 transaction date', 'X2 house age', 'X3 distance to the nearest MRT station', 'X4 number of convenience stores', 'X5 latitude', 'X6 longitude']]
output_df = df['Y house price of unit area']
input_matrix = input_df.values
output_vector = output_df.values

In [5]:
type(input_matrix)

numpy.ndarray

In [6]:
input_matrix.shape

(414, 6)

In [7]:
type(output_vector)

numpy.ndarray

In [8]:
output_vector.shape

(414,)

Let's now split our data into a training set and test set. We'll use 70% of our data for training and 30% for testing. We'll manually set the random seeds for reproducibility purposes.

In [9]:
random.seed(0)
np.random.seed(0)

row_count = input_matrix.shape[0]
row_indices = list(range(row_count))
random.shuffle(row_indices)

last_training_row_position = round(row_count*0.70)
training_indices = row_indices[:last_training_row_position+1]
testing_indices = row_indices[last_training_row_position+1:]

training_input_matrix = input_matrix[training_indices]
training_output_vector = output_vector[training_indices]
testing_input_matrix = input_matrix[testing_indices]
testing_output_vector = output_vector[testing_indices]

We have 6 input columns, so we'll need to learn 6 multiplicative weights and 6 biases for our linear regression model. 

Let's initialize those weights.

In [10]:
weights = Variable(np.random.rand(6))
biases = Variable(np.random.rand(6))

First, we'll need to establish some hyperparameters for training our linear regression model. We'll be using stochastic gradient descent.

In practice, we might use various batch sizes or shuffle our training data between epochs, but we'll forgo this for the sake of simplicity as the purposes of this tutorial is to show how to use our automatic differentiation engine rather than finding the best model possible.

In [11]:
number_of_epochs = 800
learning_rate = 1e-5
sgd = autograd.optimizer.SGD(learning_rate)

Let's write our training loop.

In [12]:
epoch_iterator = tqdm(range(number_of_epochs))
for epoch_index in epoch_iterator:
    for x, y in zip(training_input_matrix, training_output_vector):
        y_hat = np.sum(np.multiply(y, weights) + biases)
        loss = (y_hat - y) ** 2
        sgd.take_training_step(loss)
    epoch_iterator.set_description(f'Loss: {loss.sum().data:.8f}')
    epoch_iterator.refresh()

Loss: 0.01085207: 100%|██████████| 800/800 [00:23<00:00, 34.03it/s]

Let's now see how our model performs on our test set.

In [13]:
mean_testing_loss = 0
for x, y in zip(testing_input_matrix, testing_output_vector):
    y_hat = np.sum(np.multiply(y, weights) + biases)
    loss = (y_hat - y) ** 2
    mean_testing_loss += loss.data
mean_testing_loss /= len(testing_output_vector)

In [14]:
mean_testing_loss

0.00506999587106785

Let's look at a few random results to sanity check our mode.

In [17]:
random_test_examples = list(zip(testing_input_matrix, testing_output_vector))
for x, y in :
    y_hat = np.sum(np.multiply(y, weights) + biases)
    print(y_hat.data, y)

15.133669902084058 15.0
42.41191004993169 42.4
60.63058868882263 60.7
34.74612723466065 34.7
23.695453306153027 23.6
45.09991181632544 45.1
33.45190416195254 33.4
51.37191593791084 51.4
34.148793508795364 34.1
21.007451539759277 20.9
51.571027179865936 51.6
31.361236121424078 31.3
41.11768697722359 41.1
28.971901217962966 28.9
40.122130767448134 40.1
25.587010104726403 25.5
22.899008338332653 22.8
37.931907105942116 37.9
47.688357961741644 47.7
36.83679527518911 36.8
50.67502659106802 50.7
38.330129589852305 38.3
27.37901128232223 27.3
48.18613606662937 48.2
43.108799396774515 43.1
24.790565136906032 24.7
69.98881706071195 70.1
51.77013842182103 51.8
59.43592123709208 59.5
41.018131356246045 41.0
45.09991181632544 45.1
45.49813430023562 45.5
38.13101834789721 38.1
11.74877878884749 11.6
63.81636856010411 63.9
54.955918293102506 55.0
30.863458016536345 30.8
40.22168638842568 40.2
43.20835501775206 43.2
36.93635089616666 36.9
35.642127823458566 35.6
67.59948215725086 67.7
46.59324613098863 46.6
34.049237887817824 34.0
44.90080057437034 44.9
24.89012075788358 24.8
54.955918293102506 55.0
39.72390828353795 39.7
41.515909461133774 41.5
20.808340297804182 20.7
13.83944682937596 13.7
30.067013048715975 30.0
30.763902395558798 30.7
55.45369639799023 55.5
18.319449773365534 18.2
42.01368756602151 42.0
19.115894741185905 19.0
44.004799985572426 44.0
36.339017170301375 36.3
32.55590357315463 32.5
7.766553949745646 7.6
37.0359065171442 37.0
34.64657161368309 34.6
34.24834912977292 34.2
73.47326379492607 73.6
57.345253196563604 57.4
14.536336176218784 14.4
52.66613901061895 52.7
42.81013253384188 42.8
37.931907105942116 37.9
18.71767225727572 18.6
53.46258397843931 53.5
26.682121935479408 26.6
61.427033656643 61.5
46.69280175196617 46.7
45.39857867925808 45.4
25.08923199983867 25.0
39.52479704158286 39.5
23.795008927130567 23.7
12.943446240578046 12.8
39.72390828353795 39.7
25.686565725703947 25.6
30.564791153603704 30.5
36.737239654211564 36.7
77.8537111179381 78.0
39.624352662560405 39.6
48.484802929562 48.5
55.851918881900424 55.9
20.808340297804182 20.7
56.2501413658106 56.3
41.416353840156226 41.4
23.59589768517548 23.5
42.312354428954144 42.3
25.38789886277131 25.3
52.16836090573122 52.2
44.20391122752753 44.2
39.42524142060531 39.4
29.569234943828242 29.5
52.964805873551576 53.0
63.219034834238826 63.3
40.520353251358316 40.5
60.63058868882263 60.7
42.01368756602151 42.0
13.54077996644332 13.4
55.254585156035134 55.3
23.098119580287747 23.0
28.474123113075233 28.4
40.81902011429096 40.8
63.219034834238826 63.3
39.42524142060531 39.4
16.82611545870234 16.7
18.91678349923081 18.8
21.803896507579648 21.7
15.731003627949335 15.6
27.777233766232413 27.7
34.24834912977292 34.2
22.401230233444927 22.3
24.49189827397339 24.4
37.53368462203193 37.5
29.370123701873148 29.3
48.08658044565182 48.1
27.37901128232223 27.3
48.18613606662937 48.2

In [ ]:
np.sum(np.array([20.96321226, 27.6398553 , 23.50701303, 20.76207256, 16.63641453,
       24.68533475]))

In [ ]:
np.add